* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #ebebeb;
}

header {
    background-color: #bbbbbb;
    height: 3em;
    padding: 15px;
}

header > img {
    width: 50px;
    float: left;
}

header > h1 {
    font-size: 2em;
    float: left;
    margin: 0px 15px;
}

header > nav > a {
    float: left;
    padding: 15px;
}

main {
    background-color: #a6a6a6;
    margin: 15px 215px;
    padding: 25px;
}

main > div.button {
    text-align: right;
}

main > div.button > button#click-me {
    background: linear-gradient(90deg, #dddddd, #efefef);
    border: 0.2px solid #00000061;
    border-radius: 7px;
    padding: 12px;
}

main > p {
    padding: 15px;
}

footer {
    background-color: #626262aa;
    text-align: center;
    margin-top: 345px;
    padding: 15px;
}

/* Media Querys para Responsividade */
/* Media Query Médio */
@media (max-width: 750px) {
    header > nav > a {
        padding: 5px;
    }

    main {
        background-color: #a6a6a6;
        margin: 15px 125px;
        padding: 25px;
    }

}

/* Media Query Pequeno */
@media (max-width: 525px) {
    header > h1 {
        font-size: 1.5em;
        margin: 0px 7px;
    }

    header > nav > a {
        padding: 3px;
    }

    main {
        background-color: #a6a6a6;
        margin: 15px 25px;
        padding: 25px;
    }

}
